<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable" packages="io.github.lxgaming.reconstruct.util.log4j">
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="%color{[%d{HH:mm:ss}] [%level] [%t]: %msg%n%xEx}"/>
        </Console>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level] [%t]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="${sys:reconstruct.logging.console.level:-info}"/>
            <AppenderRef ref="File" level="${sys:reconstruct.logging.file.level:-debug}"/>
        </Root>
    </Loggers>
</Configuration>