<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable" packages="io.github.lxgaming.reconstruct.util">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%color{[%d{HH:mm:ss}] [%level] [%t]: %msg%n%xEx}"/>
        </Console>
        <File name="File" fileName="logs/latest.log" append="false">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%level] [%t]: %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="Console" level="INFO"/>
            <AppenderRef ref="File" level="DEBUG"/>
        </Root>
    </Loggers>
</Configuration>